.profession__item {
	padding: 15px;
	margin: 0 10px 10px 0;
	font-family: "Roboto", sans-serif;
	/*text-decoration: underline;*/
	text-underline-position: under;
	font-size: 14px;
	color: #9471a3;
	cursor: pointer;
}
.profession__item:hover {
	background-color: #e8ddf1;
	border-radius: 30px;
}